.heading-countries{
    font-family: sans-serif;
    font-weight: bolder;
}

.svg-append
{
    box-sizing: border-box;
    border: 1px solid #a5b0b6;
    background-image: url('../Assets/search.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
    background-size: 1.5rem 1.5rem;
    border-radius: 0px;
}
.country-container{
    border:1px #D9D9D9 solid;
    margin-top: 10px;
    padding-top:  10px;
    padding-bottom: 10px;

}
.country-with-detail-country-name{
     font-weight: bold;
}
.country-detail-container{
    font-size: 12px;

}
#button-container{
  margin-top:5px;
  }
.show-button{
    border-radius: 0px;
    color:#0C22CB;
    padding: 2px;
    border:2px #0C22CB solid; 
    font-size: 1vw;
    font-weight: bold;

}
a:link {


  text-decoration: none;


}


a:visited {


  text-decoration: none;


}


a:hover {


  text-decoration: none;


}


a:active {


  text-decoration: none;


}
.li{
  
}
.country-without-detail-container{

}
@media screen and (max-width: 800px) {
 .country-detail-container{
    font-size: 14px;

}
.show-button{
  font-size: 14px;
  margin-top:  10px;
  margin-bottom: 10px;
}
 } 